<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>Méteo</title>
	<link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
	<form align=center method="POST" th:action="@{/meteo}" th:object="${data}">
		<img th:src="@{meteo.jpg}" />
		<h3>Saisir une ville...</h3>
		<input type="text" name="city" required />
		<input type="submit" value="Soumettre" />
	</form>

	<div th:if="${data != null && data.response != null}">
		<h3>Méteo de la ville de : <span th:text="${#strings.capitalize(data.city)}" style="color:red" /></h3>
			    
	    <script th:inline="javascript">
           var value = [[(${data.response})]];
           var obj = JSON.parse(value);
           
           function output(jsonStr) {
        	    document.body.appendChild(document.createElement('pre')).innerHTML = jsonStr;
           }
           
           function syntaxHighlight(jsonStr) {
        	    jsonStr = jsonStr.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        	    return jsonStr.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        	        var cls = 'number';
        	        if (/^"/.test(match)) {
        	            if (/:$/.test(match)) {
        	                cls = 'key';
        	            } else {
        	                cls = 'string';
        	            }
        	        } else if (/true|false/.test(match)) {
        	            cls = 'boolean';
        	        } else if (/null/.test(match)) {
        	            cls = 'null';
        	        }
        	        return '<span class="' + cls + '">' + match + '</span>';
        	    });
        	}
           
           var jsonStr = JSON.stringify(obj, undefined, 4);
           output(syntaxHighlight(jsonStr));
        </script>
	</div>

  </body>
</html>
